button:hover {
    opacity: 0.5;
}

legend {
    float: left;
    margin: 0 0 1rem 0;
    padding: 0 0.75rem;
    font-weight: bold;
    color: black;
    font-size: 1.3rem;
    padding: 0 12px;
}

input:focus, 
select:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 0 3px lightskyblue;
}

fieldset p strong {
    color: darkslateblue;
}

.radio-group label,
.checkbox-group label {
    margin-left: 0.4rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    fieldset {
        margin: 1rem;
        padding: 1.4rem;
    }
    
    h1 {
        font-size: 1.8rem;
    }
}